header {
    background: #333;
    color: white;
}

header a {
  color: white;
  padding: 0 12px;
  text-decoration: none;
}

header a:hover {
  color: gray;
}

header .burger {
  display: none;
}

@media (max-width:991px) {
  header .burger {
    display: block;
    cursor: pointer;
    font-size: 2em;
  }
  
  header nav {
    position: absolute;
    right: 0;
    top: 83px;
    width: 40% !important;
    background: #333;
    padding: 0 !important;
    display: none;
  }
  
  header nav a {
    display: block;
    padding: 8px;
    text-align: center;
  }

  header nav a:hover {
    background: silver;
  }
}